@page "/roadmap"

<section class="hero is-dark">
    <div class="hero-head">
        <div class="container is-max-widescreen">
            <div class="level pt-5 pb-5">
                <div class="level-left">
                    <div class="level-item is-hidden-mobile">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                        <span class="icon">
                                            <i class="fa fa-arrow-left"></i>
                                        </span>
                                        <span>Back to app</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="level-right">
                    <div class="buttons is-centered">
                        <button class="button is-dark">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container is-max-widescreen">
            <div class="columns is-vcentered">
                <div class="column is-8-desktop is-12-tablet">
                    <h1 class="heading">Roadmap</h1>
                    <h2 class="title is-0 is-spaced is-size-3-mobile">Where we've been. Where we're going.</h2>
                    <h3 class="is-size-4 is-size-5-mobile mb-5">Wryte has an ever-expanding set of features. Check out the list below to see where we've been and where we're going. If there's something you want that isn't listed, let me know.</h3>
                    <div class="buttons">
                        <a class="button is-primary is-medium" href="/">
                            <span class="icon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <span>Request a Feature</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section has-background-white">
    <div class="container is-max-widescreen">
        <div class="level is-mobile">
            <div class="level-item">
                <p>
                    <span class="icon has-text-success">
                        <i class="fa fa-circle"></i>
                    </span>
                    Done
                </p>
            </div>
            <div class="level-item">
                <p>
                    <span class="icon has-text-warning">
                        <i class="fa fa-circle"></i>
                    </span>
                    Doing
                </p>
            </div>
            <div class="level-item">
                <p>
                    <span class="icon has-text-dark">
                        <i class="fa fa-circle"></i>
                    </span>
                    Todo
                </p>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Download App</h3>
                        <p class="subtitle">Download Wryte to your device, whether its a phone, tablet or desktop</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Copy Everything</h3>
                        <p class="subtitle">Copy scenes, chapters, and even entire novelss</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Customize Editor</h3>
                        <p class="subtitle">Customize the buttons that appear in your editor</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Dark Mode</h3>
                        <p class="subtitle">Turn down the lights with dark mode</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Typewriter Scolling</h3>
                        <p class="subtitle">Keep your writing in the middle of the writing pane</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Automatic Saving</h3>
                        <p class="subtitle">Your work gets automatically saved every 10 seconds</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Online / Offline</h3>
                        <p class="subtitle">Write while you're online or offline, either way it makes no difference</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Focus Mode</h3>
                        <p class="subtitle">Eliminate distractions with focus mode &ndash; fades everthing out but your words</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Publishing</h3>
                        <p class="subtitle">Generate a basic EPUB for your novels that you can later customize</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Chapter &amp; Scene Organisation</h3>
                        <p class="subtitle">Reorder chapters and scenes with drag and drop</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Add Categories</h3>
                        <p class="subtitle">Add extra categories for research, be it characters, locations, or events</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Novel Tags</h3>
                        <p class="subtitle">Add tags to novels to help categorize them</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Archive Everything</h3>
                        <p class="subtitle">Archive all the things, including novels, chapters and scenes</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Writing Stats</h3>
                        <p class="subtitle">How much you write, when you write... all the stats you want to know</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-success fill">
                    <div class="message-body">
                        <h3 class="heading">Events</h3>
                        <p class="subtitle">Create a sequence of events for a novel, chapter, or scene</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="message is-dark fill">
                    <div class="message-body">
                        <h3 class="heading">Writing Goals</h3>
                        <p class="subtitle">Track and measure your performance towards meeting your writing goals</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-dark fill">
                    <div class="message-body">
                        <h3 class="heading">Novel Status</h3>
                        <p class="subtitle">Apply a status to novels to help categorize them, like draft, completed, published</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="message is-dark fill">
                    <div class="message-body">
                        <h3 class="heading">Search &amp; Replace</h3>
                        <p class="subtitle">Search and replace terms across scenes, chapters, and novels</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
